<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline-multiplayer</title>
    <style>
 
        body{
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        html, body {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        #gamecanvas {
      
            /* height: 600px;
            width: 800px; */
            border : 1px black solid;
            background-color: grey;
        }
    </style>
</head>
<body>
    <canvas id="gamecanvas"></canvas>
    <script type="module">
        import { Ball } from '../scripts/ball.js';
        import { Player } from '../scripts/player.js';
        // import { Field } from '../scripts/field.js';


        function initializeGame() {
            const canvas = document.querySelector('#gamecanvas');
            const ctx = canvas.getContext('2d');
            canvas.width = window.innerWidth * 0.8;
            canvas.height = window.innerHeight * 0.8;
            return {
                canvas,
                ctx,
                wi: canvas.width,
                hi: canvas.height
            };
        }
        let game_state = 'PLAY';

        const { canvas, ctx, wi, hi } = initializeGame();
        let boll = new Ball(wi /2,hi/2, hi ,wi);
        let P1 = new Player( wi / 80, hi / 2.5, wi / 40, hi / 5,hi, wi);
        let P2 = new Player( wi - (wi / 80 + wi / 40), hi / 2.5, wi / 40, hi / 5,hi, wi, 'ArrowUp', 'ArrowDown');
        // let map = new Field();
        

        function update(){

            // if (boll.x + boll.radius < 0)

            if (game_state == 'PLAY'){
                P1.update();
                P2.update();
                boll.update([P1, P2]);
            }
        }

        function render(){
            ctx.clearRect(0, 0, wi, hi);
            P1.draw(ctx);
            P2.draw(ctx);
            boll.draw(ctx);
        }

        function game(){
            update()
            render();
        }
        let fps = 50;

        setInterval (game, 1000 / fps)
        </script>
</body>
</html>

<!-- // document.addEventListener('keydown' , function(event){
//     if (event.key == 'w' || event.key == 'W'){
//         P1.dy = -5;
//     }
//     else if (event.key == 's' || event.key == 'S'){
//         P1.dy = 5;
//     }
//     if (event.key == 'ArrowUp'){
//         P2.dy = -5;
//     }
//     else if (event.key == 'ArrowDown'){
//         P2.dy = 5;
//     }
// });

// document.addEventListener('keyup' , function(event){
//     if (event.key == 'w' || event.key == 'W' || event.key == 's' || event.key == 'S'){
//         P1.dy = 0;
//     }
//     if (event.key == 'ArrowUp' || event.key == 'ArrowDown'){
//         P2.dy = 0;
//     }

// }); -->

<!-- // let Player1 = {
//     x : wi / 80,
//     y : canvas.height / 3,
//     width : canvas.width / 40,
//     height : canvas.height / 5,
//     color : '#000000',
// };

// let Player2 = {
//     width : canvas.width / 40,
//     height : canvas.height / 5,
//     y : canvas.height / 3,
//     x : canvas.width - (canvas.width / 80 + canvas.width / 40),
//     color : '#FFFFFF',
// };

// let ball = {
//     width : canvas.width / 40,
//     height : canvas.width / 40,
//     y : canvas.height / 2,
//     x : canvas.width / 2,
//     color : '#FF0000',
// };

// let keys = {
//     'ArrowUp': false,
//     'ArrowDown': false,
//     'w': false,
//     's': false
// };

// function updateGame(){
//     if (keys['ArrowUp']) {
//         Player2.y -= 10;
//     }
//     if (keys['ArrowDown']) {
//         Player2.y += 10;
//     }
//     if (keys['w']) {
//         Player1.y -= 10;
//     }
//     if (keys['s']) {
//         Player1.y += 10;
//     }
// }

// function drawGame(){
//     ctx.clearRect(0, 0, canvas.width, canvas.height);
//     ctx.fillStyle = Player1.color;
//     ctx.fillRect(Player1.x, Player1.y, Player1.width, Player1.height);
//     ctx.fillStyle = Player2.color;
//     ctx.fillRect(Player2.x, Player2.y, Player2.width, Player2.height);
//     ctx.fillStyle = ball.color;
//     ctx.beginPath();
//     ctx.arc(ball.x, ball.y, ball.height, 0, 2* Math.PI);
//     ctx.fillStyle = ball.color;
//     ctx.fill();
//     ctx.closePath();
// }



// function handleKeyDown(event){
//     if (keys.hasOwnProperty(event.key)){
//         keys[event.key] = true;
//     }
// }

// function handleKeyUp(event){
//     if (keys.hasOwnProperty(event.key)){
//         keys[event.key] = false;
//     }
// }

// function gameloop(){
//     updateGame();
//     drawGame();
//     requestAnimationFrame(gameloop);
// }

// gameloop();
// document.addEventListener('keydown', handleKeyDown);
// document.addEventListener('keyup', handleKeyUp);; -->