<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplayer Game</title>
    <style>
        #gamecanvas{
            height : 600px;
            width : 800px;
            border : 1px black solid;
            background-color: grey;
        }

    </style>
</head>
<body>
    <h1>Welcome to the game room: {{ room_id }}</h1>
    <p>Room ID: {{ room_id}}</p>
    <p>player 1  name :{{P1.name}}, up is : {{P1.keys.keyup}} and down is {{P1.keys.keydown}}</p>
    <p>player 2  name :{{P2.name}}, up is : {{P2.keys.keyup}} and down is {{P2.keys.keydown}}</p>
    <p> </p>
    <input type="text" id="messageInput" placeholder="Type a message" />
    <button onclick="sendMessage()">Send Message</button>


    <canvas id="gamecanvas" ></canvas>

    <script type="text/javascript">
        const canvas = document.querySelector('#gamecanvas');
        const ctx = canvas.getContext('2d');
        canvas.width = 800;
        canvas.height = 600;

        const sockett = new WebSocket(`ws://${window.location.host}/ws/offgame/{{room_id}}/`);
        // Handle incoming messages
        sockett.onmessage = function(event) {
            const data = JSON.parse(event.data);
            // console.log('jq hnq')
            // console.log("Message from server:", data);
            update_game(data);
        };
        
        function update_game(data){
            ctx.clearRect(0, 0, canvas.width , canvas.height);
            ctx.fillStyle = data.redfield.color;
            ctx.fillRect(0, 0, data.redfield.width, data.redfield.height);
            ctx.fillStyle = data.bluefield.color;
            ctx.fillRect(data.redfield.width, 0, data.bluefield.width, data.bluefield.height);
            data.redteamplayers.forEach((player)=>{
                // console.log('redplayer' , player.name);
                ctx.fillStyle = player.paddle.color;
                ctx.fillRect(player.paddle.x, player.paddle.y, player.paddle.width, player.paddle.height);
            });
            data.blueteamplayers.forEach((player)=>{
                // console.log('blueplayer' , wplayer.name);
                ctx.fillStyle = player.paddle.color;
                ctx.fillRect(player.paddle.x, player.paddle.y, player.paddle.width, player.paddle.height);
            });
            // console.log('length of powerup: ' ,data.powerup.length)
            data.powerup.forEach((powerups)=>{
                // console.log('yoo')
                // console.log('ja hnaya:', powerups.color)

                ctx.fillStyle = powerups.color;
                ctx.beginPath();
                ctx.arc(powerups.x, powerups.y, powerups.radius, 0, Math.PI*2);
                ctx.fill();
                ctx.closePath();
            });
            data.balls.forEach((ball)=>{
                // console.log('colro dyal lball:', ball.color)
                ctx.fillStyle = ball.color;
                ctx.beginPath();
                ctx.arc(ball.x, ball.y, ball.radius, 0, Math.PI * 2);
                ctx.fill();
                ctx.closePath();
            });
        } 
        
        // When the WebSockett connection is opened
        sockett.onopen = function(event) {
            // console.log("WebSockett is open now.");
            // Optionally, you can send a message to the server to initialize game state
            // sockett.send(JSON.stringify({ 'type' : 'init' }));
        };

        // When the WebSockett connection is closed
        sockett.onclose = function(event) {
            // console.log("WebSockett is closed.");
        };

        // Handle errors
        sockett.onerror = function(error) {
            console.error("WebSockett error observed:", error);
        };

        let pressedKeys = {};

        const keyMappings = {
            'r'                    : { player: '{{P1.name}}', action: 'gs'  , type: 'gs'},
            'f'                    : { player: '{{P2.name}}', action: 'gs'  , type: 'gs'},
            '{{P1.keys.keyup  }}'  : { player: '{{P1.name}}', action: 'up'  , type: 'move'},
            '{{P1.keys.keydown}}'  : { player: '{{P1.name}}', action: 'down', type: 'move' },
            '{{P2.keys.keyup  }}'  : { player: '{{P2.name}}', action: 'up'  , type: 'move'},
            '{{P2.keys.keydown}}'  : { player: '{{P2.name}}', action: 'down', type: 'move'},
        }
        
        function sendPressedKeys(){
            let actions = [];
            Object.keys(pressedKeys).forEach(key =>{
                const mapping = keyMappings[key];
                if (mapping){
                    actions.push({
                        player : mapping.player,
                        action : mapping.action,
                        type : mapping.type,
                    });
                }
            });

            if (actions.length > 0){
                sockett.send(JSON.stringify(actions))
            }
        }
        
        document.addEventListener('keydown', function(event){
            if (event.key === 'ArrowUp' || event.key === 'ArrowDown'){
                event.preventDefault();
            }
            const key = event.key.toLowerCase();
            // console.log(key)
            if (!pressedKeys[key]){
                pressedKeys[key] = true;
            }
            sendPressedKeys();            
        });
        
        document.addEventListener('keyup', function(event){
            const key = event.key.toLowerCase();
            if (pressedKeys[key]){
                delete pressedKeys[key];
                // senball('keyup', event.key);
            }
            sendPressedKeys();
        });
        </script>
</body>
</html>
<!-- 

// document.addEventListener('keydown', function(event){
//     const key = event.key.toLowerCase();
//     // console.log(key)
//     if (!pressedKeys[key]){
//         pressedKeys[key] = true;
//     }
//     sendPressedKeys();            
// }); -->
